:root {
    --primary-color: #007BFF;
    --primary-color-dark: #0056b3;
    --secondary-color: #6c757d;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --footer-height: 50px;
    --header-height: 135px;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--light-color);
    color: var(--dark-color);
    margin: 0;
    padding: 0;
    padding-top: calc(var(--header-height) + 35px);
    padding-bottom: calc(var(--footer-height) + 35px);
}

h1,
h2 {
    font-family: 'Roboto', Arial, sans-serif;
}

header {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    text-align: center;
    height: var(--header-height);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: var(--primary-color);
}

section {
    padding: 20px;
    margin: 20px;
    background-color: var(--light-color);
    border-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    color: var(--light-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--primary-color-dark);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: var(--dark-color);
    color: var(--light-color);
    position: fixed;
    width: 100%;
    height: var(--footer-height);
    bottom: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height);
}